

body {
    font-family: 'Roboto', sans-serif;
    max-width: 320px;
    margin: 0 auto;
}

header {
    background-color: #6495ed;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
}

h1 {
    display: inline;
}

.your {
    margin-left: 20px;
}


.app {
    font-weight: 300;
    margin-right: auto;
}

.bell {
    margin-top: 20px;
}

#dot {
    background-color: #0f0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 18px;
    margin-left: -6px;
}
  
.divider {
    background-color: black;
    width: 1px;
    height: 45px;
    margin-left: 20px;
    margin-top: 15px
}

.picture-radius {
    border-radius: 50%;
    height: 50px;
    margin: 10px 20px;
}

.owner {
    display: none;
    font-weight: 300;
    margin-right: 20px;
}

.container {
    display: inline-block;
    width: 320px;
    height: 50px;
    background-color: darkslateblue;
}

.item {
    display: inline-block;
    margin-top: 12.5px;
    margin-left: 15px;
}

.selected {
    display: inline;
    padding-top: 17px;
    border: 1px #0f0 solid;
}

.dash {
    display: Inline;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.icons {
    display: inline-flex;
}

.input-actual {
    width: 173px;
}

.input {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 0;
    background-color: rgb(231, 231, 231);
}


#alert {
    padding: 10px;
    background-color: darkslateblue;
    color: white;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 4px #6495ed solid;
}

#close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.traffic {
    display: inline;
    margin-right: 75px;
}
.span-class {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 20%;
    font-size: 9px;
}

#trafficChart {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

#weeklyTrafficChart {
    max-width: 320px;
    max-height: 320px;
}

.t-icon {
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    background-color: darkslateblue;
    color: white;
    fill: currentColor;
}

.tag {
    display: flex;
    flex-direction: column;
}

.twitter {
    margin-top: 0;
    margin-bottom: 0;
    color: darkslateblue;
}

.t-count {
    margin-top: 0;
    font-weight: 400;
}

.tag2 {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    height: 55px;
    width: 300px;
    margin-bottom: 3px;
    background-color: lightgray;
}

.name {
    width: 160px;
}

.date {
    margin-top: 15px;

}

.recent {
    width: 220px;
    font-size: 14px;
}

.arrow {
    font-size: 48px;
    font-weight: 300;
    color: darkslateblue;
    margin-right: 5px;
}

#form-input {
    width: 310px;
    height: 20px;
    margin-bottom: 10px;
    border: 1px lightgrey solid;
    border-radius: 6px;
}

#form-textarea {
    min-width: 310px;
    max-width: 310px;
    min-height: 150px;
    max-height: 300px;
    border: 1px lightgrey solid;
    border-radius: 6px;
}

#form-send {
    width: 320px;
    height: 30px;
    margin-top: 16px;
    padding-top: 8px;
    border-radius: 6px;
    text-align: center;
    color: white;
    background-color: #6495ed;
}

  /* switch and slider styles courtesy of https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #send-email,
  #set-profile {
      width: 200px;
      margin-top: 10px;
  }

  .flex-container {
      display: flex;
      justify-content: space-around;
  }

  #timezone {
      width: 310px;
      margin-top: 25px;
      margin-bottom: 20px;
      border-radius: 6px;
  }

  button {
      width: 100px;
      height: 30px;
      margin: 0 25px 25px;
      border-radius: 6px;
      background-color: #2196F3;
      color: white;
  }

  .btn2 {
      background-color: rgb(179, 179, 179)
  }

  @media (min-width: 768px) {

      h3 {
          margin-left: 10px;
      }  

      body {
          display: grid;
          max-width: 768px;
          grid-template-columns: 60px 236px 118px 118px 236px;
      }

      header {
          grid-column: 1 / 6;
      }

      .section-one {
          grid-column: 2 / 6;
      }

      .input {
        padding-left: 390px;
        padding-bottom: 10px;
        padding-top: 5px;
        padding-right: 0;
        background-color: rgb(231, 231, 231);
      }

      .section-two {
        grid-column: 2 / 6;
      }

      .traffic {
          margin-left: 5px;
          margin-right: 350px;
      }

      .span-class {
          font-size: 16px;
      }

      #trafficChart {
        max-width: 708px;
        max-height: 300px;
        margin: 0 auto;
      }  

      .section-three {
          grid-column: 2 / 4;
      }

      .section-four {
          grid-column: 4 / 6;
      }

      .section-five {
          grid-column: 2 / 6;
      }

      .tag2 {
          width: 310px;
          margin: 0 15px 1px;
          border-radius: 6px;
      }
      .section-six {
          grid-column: 2 / 4;
      }

      .section-seven {
          grid-column: 4 / 6;
      }

      .section-eight {
          grid-column: 2 / 4;
      }

      form {
          margin-left: 20px;
          margin-bottom: 25px;
      }

      .section-nine {
          grid-column: 4 / 6;
      }

      #timezone {
          margin: 25px 20px;
      }

      button {
          margin: 0 35px;
      }
      .div-flex {
          display: flex;
      }

      .owner {
          display: inline;
      }

      .container {
          width: 60px;
          height: 100%;
          grid-row: 2 / 8;
      }

      .icons {
        display: inline-flex;
        flex-direction: column;
      }
  }

  @media (min-width: 1024px) {
    body {
        max-width: 1024px;
        grid-template-columns: 60px 321.33px 160.66px 160.66px 321.33px;
    }

    .input-actual {
        width: 300px;
    }
    .input {
        padding-left: 527px;
    }
    
    #trafficChart {
        max-width: 964px;
        max-height: 400px;
    }

    .traffic {
        margin-right: 600px;
    }

    #weeklyTrafficChart {
        max-width: 482px;
        max-height: 482px;
    }

    .tag2 {
        width: 440px;
    }

    .name {
        width: 300px;
    }

    .recent {
        width: 320px;
    }

    #form-input {
        width: 440px;
    }

    #form-textarea {
        min-width: 440px;
        max-width: 440px;
    }

    #form-send {
        width: 440px;
        margin-bottom: 50px;
    }

    #timezone {
        width: 440px;
    }

    button {
        margin-left: 75px;
    }
  }