body {
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #6495ed;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
}

h1 {
    display: inline;
}

.your {
    margin-left: 20px;
}


.app {
    font-weight: 300;
    margin-right: auto;
}

.bell {
    margin-top: 20px;
    /* margin-right: 20px; */
    /* padding-right: 10px; */
    /* border-right: 1px solid black; */
}

.dot {
    background-color: #0f0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 18px;
    margin-left: -10px;
}
  
.divider {
    background-color: black;
    width: 1px;
    height: 45px;
    margin-left: 20px;
    margin-top: 15px
}

.picture-radius {
    border-radius: 50%;
    height: 50px;
    margin: 10px 20px
}

.owner {
    display: none;
    font-weight: 300;
    margin-right: 20px;
}

.charts {
    max-width: 1400px;
    max-height: 400px;
    margin: 0 auto;
}